html{
    font-size: 62.5%; /* Default Size for browser is 16px, 
    16px x 62.5% = 10px = 1rem */
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, Sans-serif;
}

/* Layout */
.grid-container{
    display: grid; /* Responsive layout system for HTML*/
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header{
    grid-area: header; /* We are connecting this element to the template element 'header' */
    background-color: #203040;
}

main{
    grid-area: main;
    padding: 1rem;
}

footer{
    grid-area: footer;
    background-color: #203040; /*dark blue*/
    color: #ffffff;
}

/* Common */

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2{
    font-size: 1.6rem;
    padding: 1rem 0;
}

a{
    text-decoration: none; /*Removes underline from links*/
}
a:hover{
    color: #ff8000;
}

/* Header */
header a{ /* Changes color for links inside Header section */
    color: #ffffff;
    padding: 1rem;
}

a.brand{ /* Set Amazona brand name bigger, white and bold */
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
}

.row{ /* Create items next to each other instead to separate them */
    display: flex;
    flex-wrap: wrap; /* Makes row responsive = if there isn't enough space, puts item in separate lines*/
    justify-content: space-between; /*Create maximum distance between items in a row*/
    align-items: center; /*Vertical center items*/
}
.row.center{ /* Subclass of "Row" ; used to center items in the Footer section */
    justify-content: center;
}

/* Image */
img{
    border-radius: 0.5rem;
}
img.medium{
    max-width: 29rem;
    width: 100%;
}

/* Card */

.card{
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}
.card-body{
    padding: 1rem;
}
.card-body > *{ /* This is applied to all elements inside body = all direct child of body*/
    margin-bottom: 0.5rem;
}

.price{
    font-size: 2rem;
}

/* Rating */
.rating span {
    color: #f0c040;
    margin: 0.1rem;
}